body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#crest {
    max-height: 100%;
    max-width: 100%;
}

.footer {
    background-color: #222222;
    color: #9D9D9D;
    width: 100%;
}

.breakforpm {
    display: block;
    content: ""; 
    margin-top: 0;
}

/* h4 + h6 {
    margin-top: 0;
} */

.about { 
    /* background: red; */
}

/* stuff for brothers section */
.brothers {
    /* background: black;
    color: white; */
    
}
/* .bropic {
    max-height: 100%;
    max-width: 100%;
} */
.brother {

}

/* stuff for chapters section*/
.chapter {
    text-align: center;
}
.chapter-seal {
    height: 200px;
    width: 200px;
}
.chapters {
    /* background: green; */
}
.chapters > h1 {
    text-align: center;
}
.chapters > h3 {
    text-align: center;
}
.chapters > h4 {
    text-align: center;
}

.banner_one {
    background-image: url("../images/banners/pitt_panther.jpg");
    background-size: cover;
}