  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }
  
  main {
      flex: 1 0 auto;
  }
  
  #crest {
      height: 100%;
      width: 100%;
  }
  
  .footer {
      background-color: #222222;
      color: #9D9D9D;
      width: 100%;
  }
  
  .bropic {
      height: 250px;
      width: 250px;
  }
  
  .chapter {
      height: 50%;
      width: 50%;
  }